FORMAT: 1A
HOST: https://sandbox-api01.clanofthecloud.com

# ClanOfthecloud APIs

[ClanOfTheCloud](http://www.clanofthecloud.com) is a Mobile Gaming Backend as a Service (Baas) Company. You can create an account on our website, 
and try us with your next social game! We're multiplateform and offer a full API.

## Authentication

Once you've created an account, you can provision a Game in the FrontOffice application.

We're using a classic APIKEY / APISECRET couple to authenticate all requests.

# Gamers routes 

In addition to the Authentication above, gamers are identified (at least as `anonymous`).

### implementation
* devrait on utiliser gamers plutôt que users ?

    _eventuellement on pourrait etre utilisé dans des app autres que des jeux, mais comme on a basé toute la comm sur le jeu, va pour gamers!_
* devrait on utiliser l'authentification Basic pour identifier le gamer ?

    _ca ne marche que por les cotc login, puisque pour facebook il nous faut un token.
en revanche, une fois "identifier", le login return in id/token a utiliser dans Basic/Atuh_

## Gamers Collection [/gamers]
### Log in [POST]

+ Request (application/json)

        { 
            "network": "cotc|facebook|googleplus|anonymous",
            "id" : "network dependant id",
            "token" : "network dependant authentification"
        }

+ Response 200 (application/json)

        {
            "authuser" : "authenticated identifier for gamer",
            "authtoken" : "resuable token used by gamer related requests" 
        }

+ Response 401 (application/json)

        {
            "code" : "Unauthorized",
            "message" : "optional short error message", 
            "data" : "optional error data", 
        }


### Log out [GET]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
